.head {
  height: 32vh;
  padding: 2rem 14.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Bg2);
}
#HeadBoxCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 2rem;
  font-synthesis-style: auto;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--Col);
}
.head-icons {
  height: 2rem;
  color: var(--Col);
  cursor: pointer;
  z-index: 3;
}
@media screen and (max-width: 768px) {
  .head {
    padding: 2rem 8rem;
  }
}
@media screen and (max-width: 425px) {
  .head {
    padding: 2rem 1rem;
  }
}
