@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Display', Arial, Helvetica, sans-serif;
}
@import 'tailwindcss';
:root {
  --Bg: #222;
  --Bg2: #111;
  --Col: #ddd;

  --Ani: 0.3s ease-in-out all;
}
Body {
  background: var(--Bg);
}
/* nav */
.menu {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  background: var(--Bg2);
}
.menu-ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.menu-a {
  padding: 0.3rem 0.5rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--Col);
  letter-spacing: 1px;
  display: flex;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--Col);
  }
}
.Bg-Model {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Bg-Model img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: contrast(110%);
  filter: brightness(70%);
}
.newCollection {
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--Col);
  letter-spacing: 1.4px;
  position: absolute;
  background: rgb(17, 17, 17, 0.5);
  border: 1px solid rgb(221, 221, 221, 0.5);
}
/* Shop Collection */
.Shop {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ShopTitle {
  padding: 0.8rem;
  font-size: 2rem;
  text-align: center;
  color: var(--Col);
}
.Shop-ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.Shop-a {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Col);
  display: flex;
  flex-direction: column;
}
.Shop-a img {
  height: 14rem;
  object-fit: cover;
}
.text-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-img ion-icon {
  font-size: 1.1rem;
}
